<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="browser" value="firefox" />
    <add key="url" value="https://www.amazon.com" />
    <add key="username" value="test@abv.bg" />
    <add key="password" value="test" />
    <add key="search_words" value="yamaha arius digital piano 88 keys gifts" />
    <add key="product" value= "Yamaha Arius YDP181 YDP-181 88-Key Digital Piano Delux bundle with free gifts" />
    <add key="attribute" value="password"/>
  </appSettings>
</configuration>